#main {
  width: 80%;
  margin: 0 auto;
  background-color: #eee;
}

header h1 {
  padding: 30px 0 10px 0;
  font-size: 40px;
  text-align: center;
  color: #dfc9c9;
}

header p {
  text-align: center;
  color: #c0c0c0;
  padding: 0 0 20px 0;
}

figure {
  background-color: white;
}

figure img {
  width: 70%;
  display: block;
  margin: auto;
}

#img-caption {
  display: block;
  text-align: center;
}

#tribute-info {
  margin: 50px 0;
}

ul {
  margin: auto;
  width: 70%;
  text-align: left;
}

footer p {
  margin: 50px auto;
  width: 70%;
  text-align: center;
}

#tribute-info p {
  margin: 30px auto;
  width: 70%;
  text-align: center;
}
